/* Inspired by Vercel design */
@import 'modern-normalize/modern-normalize.css';

:root {
  --background: #fff;

  --foreground: #000;
  --accents-1: #f3f5fe;
  --accents-1-1: #e0e1e9;
  --accents-1-2: #d8d9e0;
  --accents-2: #cfd0d7;
  --accents-3: #bebec5;
  --accents-4: #a7a7ad;
  --accents-5: #94949a;
  --accents-6: #818187;
  --accents-7: #6c6c71;
  --accents-8: #5a5a5e;
  --accents-9: #48484c;

  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0761d1;
  --error-light: #ff1a1a;
  --error: #e00;
  --error-dark: #c50000;
  --secondary: #666;

  --main-color: rgb(68, 80, 231);
  --main-color1: rgb(51, 60, 180);
  --main-color2: rgb(102, 111, 233);
  --main-color3: rgb(139, 145, 227);

  --main-right-color: rgb(1, 168, 158);
  --main-right-color1: rgb(6, 83, 76);
  --main-right-color2: #36fef3;
  --main-right-color3: rgb(111, 198, 192);
  --main-right-color7: rgb(137, 206, 201);
  --main-right-color8: rgb(186, 231, 227);

  --main-left-color: rgb(48, 48, 147);
  --main-left-color1: rgb(22, 27, 70);
  --main-left-color2: rgb(88, 89, 133);
  --main-left-color3: rgb(135, 136, 190);
  --main-left-color8: rgb(165, 168, 248);

    /*--header-background: hsla(223, 100%, 91%, 0.8);*/
  --header-background: linear-gradient(90deg, var(--main-color3), var(--main-color));
  --footer-background: linear-gradient(90deg, rgb(33, 41, 132), rgb(15, 21, 88));
  --body-background: linear-gradient(120deg, var(--main-right-color7), var(--main-right-color2));
  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

  /* color */
  --white: white;
  --black: rgb(48, 48, 48);
  --gray: rgb(250, 250, 250);
  --primary: rgb(32, 133, 84);
  --second: rgb(127, 247, 184);
  --third: #32cdc8;
  --fourth: #CBD18F;
  --fifth: #3A6B35;
  --sixth: #6592b4;
  --hover-color: #f3f3f3;
  --bar-color: rgba(0, 0, 0, 0.1);
  --theme-color: var(--gray);

  /* shadow */
  --shadow: 50px 50px 100px 10px rgb(0, 0, 0, 0.1);
  --card-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);

  /* stroke */
  --border-in-light: 1px solid rgb(222, 222, 222);

  --link: var(--success);
  --nav-height: 70px;
}

[data-theme='dark'] {
  --foreground: #fff;
  --background: #000;

  --accents-9: #efeff9;
  --accents-8: #e4e4ee;
  --accents-7: #d5d5de;
  --accents-6: #c0c0c9;
  --accents-5: #aaaab3;
  --accents-4: #92929a;
  --accents-3: #7a7a80;
  --accents-2: #5f5f64;
  --accents-1-1: #454549;
  --accents-1: #333336;
  --secondary: var(--accents-5);

  --main-color: rgb(0, 84, 165);
  --main-color1: rgb(9, 75, 115);
  --main-color2: #197bef;
  --main-color3: #4295f7;

  --main-right-color: rgb(1, 168, 158);
  --main-right-color1: rgb(6, 83, 76);
  --main-right-color2: rgb(66, 147, 141);
  --main-right-color3: rgb(111, 198, 192);

  --main-left-color: rgb(48, 48, 147);
  --main-left-color1: rgb(22, 27, 70);
  --main-left-color2: rgb(88, 89, 133);
  --main-left-color3: rgb(135, 136, 190);

  --header-background: linear-gradient(90deg, #06469d, #4295f7);
  --footer-background: linear-gradient(90deg, #06469d, #4295f7);
  --body-background: linear-gradient(150deg, #635e69, #373437);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);

  /* color */
  --white: rgb(30, 30, 30);
  --black: rgb(187, 187, 187);
  --gray: rgb(21, 21, 21);
  --primary: rgb(29, 147, 171);
  --second: rgb(27 38 42);
  --third: #32cdc8;
  --fourth: #CBD18F;
  --fifth: #3A6B35;
  --sixth: #aec7e9;
  --hover-color: #323232;

  --bar-color: rgba(255, 255, 255, 0.1);

  --border-in-light: 1px solid rgba(255, 255, 255, 0.192);

  --theme-color: var(--gray);

}

body {
  color: var(--foreground);
  background-color: var(--background);

  font-family: "SF Pro Display", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}


